h1 {
    width: 65px;
    color: orange;
    font-family: sans-serif;
}

p {
    font-weight: 600px;
    font-size: 48px;
}

ul {
    background-color: blue;
}

.list-style {
    background-color: floralwhite;
    font-family: fantasy;
    font-style: italic;
    text-decoration: underline;
}

body {
    font-size: 16px;
}

#amarelo {
    background-color: yellow;
}

#vermelho {
    background-color: red;
}

#marrom {
    background-color: brown;
}